---
import Layout from '../layouts/Slide.astro';
---

<Layout title="Brian">
	<main>
		<h1>Me!</h1>
    <picture>
      <img class="box" src="brian.jpg" alt="Brian fake surfing a fake wave" width="500" height="500">
    </picture>
	</main>
</Layout>