---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Brian">
	<main>
		<h1>Me!</h1>
        <img src="brian.jpg" alt="Brian fake surfing a fake wave" width="500" height="500">
	</main>
</Layout>