---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="View Transitions">
	<main>
		<h1>Side Note: View Transitions API!</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f92f/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f92f/512.gif" alt="🤯" width="250" height="250">
    </picture>
    <p>These slides are just a series of static HTML pages.</p>
	</main>
</Layout>