---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="What is it?">
	<main>
		<h1>Drupal API Client Project</h1>
    <ul>
      <li>JavaScript packages to source data from common Drupal APIs</li>
      <li>Offered under the Drupal namespace on NPM (hopefully)</li>
    </ul>
	</main>
</Layout>