---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="What is it?">
	<main>
		<h1>Drupal API Client Project</h1>
        <p>JavaScript packages to source data from common Drupal APIs, offered under the Drupal namespace on NPM.</p>
	</main>
</Layout>