---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Pitchburgh">
	<main>
		<h1>'Pitchburgh'</h1>
		<img src="pitchburgh.png" alt="Brian fake surfing a fake wave" width="800" height="800">
        <p>Funded for 10K!</p>
	</main>
</Layout>