---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>The $10,000.00 Question</h1>
		<picture>
			<source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f911/512.webp" type="image/webp">
			<img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f911/512.gif" alt="🤑" width="250" height="250">
		  </picture>
        <p>Why does Drupal need an API Client?</p>
	</main>
</Layout>