---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>NPM Tells a Story</h1>
		<img src="drupal_npm.png" alt="a search for Drupal on npm" width="750" height="750">
	</main>
</Layout>