---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<img src="wordpress_npm.png" alt="a search for @drupal on npm" width="750" height="750">
	</main>
</Layout>