---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<img src="contentful.png" alt="a search for contentful on npm" width="1000" height="1000">
	</main>
</Layout>