---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>Multiple Competing projects</h1>
    <p>
      <ul>
        <li>Drupal JS SDK</li>
        <li>Drupal State</li>
        <li>Drupal SDK</li>
        <li>Next.js for Drupal Client</li>
        <li>Drupal Kit</li>
      </ul>
    </p>
	</main>
</Layout>