---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Four">
	<main>
		<h1>They all... look...</h1>
    <p>(Drupal State)</p>
    <Code code={`import { DrupalState } from '@gdwc/drupal-state';

const store = new DrupalState({
  apiBase: 'https://dev-ds-demo.pantheonsite.io',
  apiPrefix: 'jsonapi', // optional, defaults to 'jsonapi'
});

// Get recipies from API and store locally
const recipesFromApi = await store.getObject({ objectName: 'node--recipe' });

// Get existing article from local store
const recipeFromStore = await store.getObject({
  objectName: 'recipes',
  id: '33386d32-a87c-44b9-b66b-3dd0bfc38dca',
});
    `} lang="javascript" theme="dracula" />
	</main>
</Layout>