---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>With Some Key Differences</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f978/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f978/512.gif" alt="🥸" width="250" height="250">
    </picture>
    <p>
      <ul>
        <li>Serve slightly different needs and priorities</li>
        <li>Some are framwework specific</li>
        <li>Different sets of maintainers</li>
      </ul>
    </p>
	</main>
</Layout>