---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>Hey, maybe we're all wrong</h1>
    <p>But I don't think so :)</p>
	</main>
</Layout>