---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Commitment">
	<main>
		<h1>Our Commitment for Pitchburgh Funding</h1>
    <ul>
    <li>'Vertical Slice' POC</li>
    <li>Proposal for Drupal JS Maintainers</li>
    <li>json-api-client 1.0 release</li>
    </ul>
    <aside>Like SOWs? <a href="https://docs.google.com/document/d/1-_7PN9p0LSUIbZa-7EkLmdIO7kswSF65IY012yoWRis/edit#heading=h.k9vbodx1ps94">Here's ours.</a></aside>
	</main>
</Layout>