---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Commitment">
	<main>
		<h1>Our Approach</h1>
    <ul>
      <li>API Client Base Class</li>
      <li>Specific client implementations extend this class</li>
    </ul>
    <aside><a href="https://codesandbox.io/s/drupal-api-client-poc-tz8k42" target="_blank">Demo!</a></aside>
	</main>
</Layout>