---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Collection">
	<main>
		<h1>Vertical Slice POC Scope</h1>
    <h3>Get a colleciton of resources for a specific resource type</h3>
    <ul>
      <li>Establishes all client-level configuration options</li>
      <li>Will make implementing future methods easier</li>
      <li>Facilitate deeper discussion with community</li>
    </ul>
    <aside>Meta issue: <a href="https://www.drupal.org/project/api_client/issues/3365506" target="_new">#3365506</a></aside>
	</main>
</Layout>