---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Collection">
	<main>
		<h1>Proposed Configurable Options</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f916/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f916/512.gif" alt="🤖" width="250" height="250">
    </picture>
    <p>Provide a default, but allow many possible overrides.</p>
	</main>
</Layout>