---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Authentication">
	<main>
		<h1>Authentication</h1>
    <h2>Support common Drupal authentication approaches</h2>
    <p>Start with basic auth.</p>
    <aside>Issue <a href="https://www.drupal.org/project/api_client/issues/3376937">#3376937</a></aside>
	</main>
</Layout>