---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Commitment">
	<main>
    <h1>Custom Fetch</h1>
    <h2>Allow users to bring their own fetch method</h2>
    <p>Start with Fetch compatible APIs.</p>
    <aside>Issue <a href="https://www.drupal.org/project/api_client/issues/3376929">#3376929</a></aside>
	</main>
</Layout>