---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Caching">
	<main>
    <h1>Local Caching</h1>
    <h2>Cache data using the library of your choice</h2>
    <p>Start with local storage example.</p>
    <aside>Issue <a href="https://www.drupal.org/project/api_client/issues/3377144">#3377144</a></aside>
		<!-- <h1>POC Scope</h1>
    <h2>Local Caching</h2>
    <p>Cache data using the library of your choice.</p> -->
	</main>
</Layout>