---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Logging">
	<main>
    <h1>Logging</h1>
    <h2>Log for debugging or to the service of your choice</h2>
    <p>Ship with console log equivalents</p>
    <aside>Issue <a href="https://www.drupal.org/project/api_client/issues/3377144">#3377144</a></aside>
	</main>
</Layout>