---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Deserialization">
	<main>
    <h1>Deserialization</h1>
    <h2>Convert response into simplified JS object</h2>
    <p>Don't deserialize by default, but establish API</p>
    <aside>Demo: <a href="https://codesandbox.io/s/3-including-related-data-direct-fetch-69ciwf" target="_blank">Before</a> / <a href="https://codesandbox.io/s/6-including-related-data-lckprq" target="_blank">After</a></aside>
    <aside>Issue <a href="https://www.drupal.org/project/api_client/issues/3377191" target="_blank">#3377191</a></aside>
	</main>
</Layout>