---
import { Image } from 'astro:assets';
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="JSONAPI Params">
	<main>
    <h1>JSON:API Parameters</h1>
    <h2>Support all JSON:API query options</h2>
    <p>Filtering, sorting, includes, etc.</p>
    <aside>Issue <a href="https://www.drupal.org/project/api_client/issues/3383578">#3383578</a></aside>
	</main>
</Layout>