---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>Why not an off the shelf solution?</h1>
    <h2>Isn't this a solved problem?</h2>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f914/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f914/512.gif" alt="🤔" width="250" height="250">
    </picture>
    <p>Oribit, Kitsu, other JSON:API packages.</p>
	</main>
</Layout>