---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Why">
	<main>
		<h1>Developer Tooling</h1>
    <ul>
      <li>TypeScript</li>
      <li>TSDoc/Typedoc</li>
      <li>pnpm</li>
      <li>Vitest</li>
      <li>Eslint</li>
      <li>Prettier</li>
    </ul>
	</main>
</Layout>