---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="1.0">
	<main>
		<h1>What else to expect in 1.0</h1>
    <ul>
      <li>Individual resource endpoints</li>
      <li>All CRUD operations</li>
      <li>Additional Authentication Examples</li>
      <li>Documentation and examples</li>
      <li>Publish under @drupal namespace?</li>
    </ul>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f37e/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f37e/512.gif" alt="ðŸ¾" width="250" height="250">
    </picture>
	</main>
</Layout>