---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Funding">
	<main>
		<h1>Hey, what about that $$$?</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4b8/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f4b8/512.gif" alt="💸" width="250" height="250">
    </picture>
    <h2>Establish open collective for distribution</h2>
    <ul>
      <li>33% proactive sponsorship</li>
      <li>33% reactive compensation</li>
      <li>33% ongoing maintenence</li>
      <li>1% wild party</li>
    </ul>
	</main>
</Layout>