---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Future">
	<main>
		<h1>Scope and the future</h1>
    <picture>
      <source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1faa9/512.webp" type="image/webp">
      <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1faa9/512.gif" alt="🪩" width="250" height="250">
    </picture>
    <ul>
      <li>Huge documentation opportunity</li>
      <li>Demo and showcase instances</li>
      <li>Could this collective move on to other commmunity projects?</li>
    </ul>
	</main>
</Layout>