---
import Layout from '../layouts/Slide.astro';
import { Code } from 'astro/components';
---

<Layout title="Contribute">
	<main>
		<h1>Interested in getting involved?</h1>
    <h2><a href="https://www.drupal.org/project/api_client" target="_blank">https://www.drupal.org/project/api_client</a></h2>
    <h3>#api-client on Drupal Slack</h3>
    <p>Slack meetings Thursdays at 15:00 UTC (9:00 CST)</p>
    <p>Contributor guide: <a href="https://www.drupal.org/docs/develop/decoupled-drupal/api-client" target="_blank">https://www.drupal.org/docs/develop/decoupled-drupal/api-client</a></p>
	</main>
</Layout>