---
import Layout from '../layouts/Slide.astro';
---

<Layout title="View Transition Slides">
	<main>
		<header>
			<h1>Introducing the Drupal API Client</h1>
		</header>
		<picture>
			<source srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f973/512.webp" type="image/webp">
			<img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f973/512.gif" alt="🥳" width="250" height="250">
		</picture>
		<p><b>Brian Perry</b><br/>
		New England Drupal Camp 2023</p>
	</main>
</Layout>
